{% load static from staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Our Team</title>

	<link rel="stylesheet" href="{% static "constructora.css" %}">

<body>
<div class="container">
<div class="header">     <img class="logo" src="{% static "LOGO.png" %}" alt="logo" width="150" height="" />
	<nav class="navigation">
		  <ul class="navigation">
		  <li><a href="index.html" class="link"><span>HOME</span></a></li>
          <li><a href="our_team.html" class="link"><span>OUR TEAM</span></a></li>
          <li><a href="services.html" class="link"><span>SERVICES</span></a></li>
	      <li><a href="contact.html" class="link"><span>CONTACT US</span></a></li>
	  </ul> 
	</nav>
<div class="fb"><a href="https://www.facebook.com/RiosMacielConstructora/" target="#"><img src="{% static "Facebook.png" %}" width="30" height="30"></a></div>
	</div>
	

  <div class="bannerOurTeam">
    <h1 class="h1">Our Team</h1>
</div>
	<div class="content4TeamNservice">
	<h2>OUR TEAM MEMBERS</h2>
	<p><img src="image/members.png"  align="center" width="730" height="275" alt=""/></p>
	</div>
	</div>
		  <div class="footer">
		    <p align="center">© Copyright All Right Reserved By Rios Constructora Maciel </p>
		  </div>

	 </body>
</html>
