@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;

}

.list{
	color: black;
	font-size: 18px;
	padding-left: 30px;
	padding-right: 11px;
}

body{
	background-color: lightgrey;
	display:inline;
	background-size: cover;
	background-repeat: no-repeat;
	font-family:Arial;
	color: #601319;
}
.description{
	color: black;
}

.header{
	background-color: #601319;
	padding-right: 20%;
	padding: 20px;
	width: auto;
	height: 80px;
}
.content{
	float:left;
	margin: 0px;
	width: 50%;
	height: 150px;
	background-color: white;
}
.content h2{
	padding: 16px;
	font-family:Arial;
	color: grey;
}
.content p{
	padding: 11px;
	font-family: Arial;
	font-size: 11px;
	color: black;
	float:left;
}
.content4TeamNservice{
	float:left;
	margin: 0px;
	width: 100%;
	height: 500px;
	background-color: white;
}
.content4TeamNservice img{
	padding-bottom: 0;
	background-color: white;
}
.content4TeamNservice h2{
	font-family:Arial;
	color: black;
	padding-right: 20px;
	padding-left: 20px;
}
.content4TeamNservice h3{
	font-family:Arial;
	color: black;
	padding-right: 20px;
	padding-left: 20px;
}
.content4TeamNservice p{
	padding-left:5%;
	padding-right:10%;
	font-family: Arial;
	font-size: 11px;
	color: grey;
	float:left;
}
.contactBox{
	float:left;
	padding-top: 5px;
	padding-right: 150px;
	padding-left:100px;
}
.contactBoxInput{
	float:left;
	border-left-style:solid;
	background-color: grey;
	padding-left: 50px;
}
.contactBox h2{
	padding: 16px;
	font-family:Arial;
	color: #601319;
}
#textarea{
	width: 400px;
	height: 200px;

}
#submitButton{


	float: right;
	background-color: #fbf0ff;
	color: #000000;
	text-align: center;
	text-decoration: none;
	padding: 5px 10px;
	display: inline-block;
	cursor: pointer;
}

.marquee {
	padding-left: 7%;
	background-color: lavender;
	width: 100%;
	height: 168px;
	-webkit-animation: marquee 30s infinite linear;
}


img:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);

}
.content2 {
	float: left;
	margin: 0px;
	padding-top:30px;
	padding-left:30px;
	width:100%;
	height: 400px;
	background-color: #601319;
	color: white;
}
.content2 p{
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	padding-left:10px;
}
.content2 h2{
	padding: 16px;
	font-family:Arial;
	color: white;
}

.indexContent {
	float:left;
	margin: 0px;
	width: 50%;
	height: 500px;
	background-color: white;
}
.indexContent h2{
	padding: 20px;
	font-family:Arial;
	color: black;
}
.indexContent h3{
	padding: 20px;
	font-family:Arial;
	color: black;
}

.indexContent p{
	padding-left: 20px;
	padding-right: 11px;
	font-family: Arial;
	font-size: 18px;
	color: black;
	float:left;
}

.logo{
	float: left;
	display: block;
}
.fb{
	float: right;
}
.entry{
	float: right;
	margin-left: 50%;
	padding: 50px;
	text-align: center;
}
.h1{
	margin-top:7%;
	padding-left: 5%;
	text-align:center;
	font-family: Arial;
	color: white;
	font-size: 40px;

}
.h4{
	color: white;

}
.nav2{
	float:left;
	background-color: #601319;
	padding-top:10pt;
	padding-bottom: 10pt;
	height: 225px;
	width: 50%;
	text-align: center;
}
.photo4{
	float: left;
	width: 100%;
	height: 300px;
	background: url(../images/banner2.jpg);
	background-repeat: no-repeat;
	background-size:cover;
}
.bannerOurTeam{
	float: left;
	width: 100%;
	height: 300px;
	background: url(Luis_Jesus_Workers.png);
	background-repeat: no-repeat;
	background-size:cover;
}
.serviceB{
	float: left;
	width: 100%;
	height: 300px;
	background: url(serviceBanner.png);
	background-repeat: no-repeat;
	background-size:cover;
}
.years{
	float:right;
	width: 50%;
}
a.link:hover{
	color: brown;
}
a.link:active{
	background-color: #943100;
	color: white;

}
.navigation ul{
	list-style-type: none;
	font-family: Arial;
	font-size: 15px;
}
.navigation ul li a{
	display: block;
	color: white;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
}
.footer {
	float: left;
	width: 100%;
	height: fit-content;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: #ffffff;
	padding: 10px;
	font-size: 8pt;
	color: #000000;
	text-align: center;
}

@media (min-width: 768px){
	.navigation ul li{
		display: inline-block;

	}
	.navigation ul {
		text-align: right;
		padding-right: 70px;
	}
}
@media (min-width: 1024px){
	.logo {
		float: left;
	}
	.naviation{
		float: left;
	}
}




