<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Contact Us</title>

<link rel="stylesheet" href="css/constructora.css">

<body>
<div class="container">
<div class="header"><img class="logo" src="image/LOGO.png" alt="" width="150" height="" />
	<nav class="navigation">
		  <ul class="navigation">
		  <li><a href="index.html" class="link"><span>HOME</span></a></li>
          <li><a href="our_team.html" class="link"><span>OUR TEAM</span></a></li>
          <li><a href="services.html" class="link"><span>SERVICES</span></a></li>
	      <li><a href="contact.html" class="link"><span>CONTACT US</span></a></li>
	  </ul> 
	</nav>
	<div class="fb"> <a href="https://www.facebook.com/RiosMacielConstructora/" target="#"><img src="image/Facebook.png" width="30" height="30"></a> </div>
	</div>
	
	
<div class="content2">
	<h2>CONTACT US</h2>
	<div class="contactBox">
   <br>
    <img src="image/contactboxInfo.png" width="300" height="210" alt=""/></div>
	<div class="contactBoxInput">
	<p>Name: <input type="text"></p>
	<br>
	<p>Email: <input type="email"></p>
	 <br>
	<p>Message:</p>
    <p>
      <textarea name="textarea" id="textarea"></textarea><br>
      <input type="submit" id="submitButton">
    </p>
    
    </div>
	</div>
 
 <div class="footer">
	 <p align="center">© Copyright All Right Reserved By Rios Constructora Maciel </p>
</div><br>

	</div>
	</div>

	 </body>
</html>
