<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Contact Us</title>

<link rel="stylesheet" href="css/constructora.css">

<body>
<div class="container">
<div class="header"><img class="logo" src="image/LOGO.png" alt="" width="150" height="" />
	<nav class="navigation">
		  <ul class="navigation">
		  <li><a href="index.html" class="link"><span>HOME</span></a></li>
          <li><a href="our_team.html" class="link"><span>OUR TEAM</span></a></li>
          <li><a href="services.html" class="link"><span>SERVICES</span></a></li>
	      <li><a href="contact.html" class="link"><span>CONTACT US</span></a></li>
	  </ul> 
	</nav>
	<div class="fb"><img src="image/Facebook.png" width="30" height="30"> </div>
	</div>

	<div class="content2">
	<h2>CONTACT US</h2>
		<br>
		<p>Name:</p>
		<input name="name" type="text" id="name">
		<br>
		<br><tb><p>TelePhone:</p>
		<input name="phoneNumber" type="tel" id="phoneNumber">
		<br>
		<br><p>Email:</p>
		<input name="email" type="email" id="email">
	</div>
    <div class="">
    
    </div>
	<div>
		  <div class="footer">
		    <p align="center">© Copyright All Right Reserved By Rio Constructora Maciel </p>
		  </div>
 

</div>
	</div>
	</div>

	 </body>
</html>
