{% load static from staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>

    <link rel="stylesheet" href="css/constructora.css">

<body>
<div class="container">
    <div class="header">
        {% load static %}
        <img class="logo" src="{% static "LOGO.png" %}" alt="logo" width="150" height="" />
        <nav class="navigation">
            <ul class="navigation">
                <li><a href="index.html" class="link"><span>HOME</span></a></li>
                <li><a href="our_team.html" class="link"><span>OUR TEAM</span></a></li>
                <li><a href="services.html" class="link"><span>SERVICES</span></a></li>
                <li><a href="contact.html" class="link"><span>CONTACT US</span></a></li>
            </ul>
        </nav>
        <div class="fb">
            <a href="https://www.facebook.com/RiosMacielConstructora/" target="#"><img src="{% static "Facebook.png" %}" width="30" height="30"></a>
        </div>
    </div>


    <div class="photo4">
        <h1 class="h1">Let Us Build For You</h1>
    </div>
</div>
<div class="indexContent">
    <h2>OUR STORY</h2>
    <h3><strong> Constructora Rios Maciel</strong></h3>
    <div class="description">
    <p>is a private family-owned construction business company founded by <strong>Jesus Rios Maciel, located in Ciudad Juarez, Chihuahua, Mexico.</strong> The company is 17 years old and has a staff of only 3 persons. Constructora Rios Maciel performs all types of construction work in the city, from small projects such as pool construction and rubble cleanups to big projects such as tunnel construction, highway maintenance, and demolitions. Some of the companies Constructora Rios Maciel has worked with:<br>
    <br>
</p>
    </div>
    <ul class="list">

        <li><strong>Ferromex:</strong> Ferromex is a private rail consortium that operates the largest railway in Mexico.</li>

        <li><strong>Comisión Federal de Electricidad:</strong> The Comisión Federal de Electricidad is the state-owned electric utility of Mexico, widely known as CFE. It is the country's dominant electric company.</li>
    </ul>
</div>
<div>
    <div class="nav2">
        <a href="contact.html" target="#"><img scr= /><img src="image/Quote.png"  width="50" height="50" alt=""/></a>
        <div class="h4">FREE QUOTE </div>
    </div>
    <div>
        <div class="nav2">
            <a href="contact.html" target="new"><img src="image/Newslwtter.png" width="50" height="50" alt=""/></a>
            <div class="h4">SIGN UP FOR OUR NEWS LETTER</div></div>
    </div>
</div>
<div class="footer">
    <p>© Copyright All Right Reserved By Rios Constructora Maciel </p>
</div>
</body>
</html>
