{% load static from staticfiles %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Services</title>


	<link rel="stylesheet" href="css/constructora.css">

<body>
<div class="container">
	<div class="header"><img class="logo" src="image/LOGO.png" alt="" width="150" height="" />
		<nav class="navigation">
			<ul class="navigation">
				<li><a href="index.html" class="link"><span>HOME</span></a></li>
				<li><a href="our_team.html" class="link"><span>OUR TEAM</span></a></li>
				<li><a href="services.html" class="link"><span>SERVICES</span></a></li>
				<li><a href="contact.html" class="link"><span>CONTACT US</span></a></li>
			</ul>
		</nav>
		<div class="fb" ><a href="https://www.facebook.com/RiosMacielConstructora/" target="#"><img src="image/Facebook.png" width="30" height="30"></a> </div>
	</div>


	<div class="serviceB">
		<h1 class="h1">We Have The Service You Need</h1>
	</div>
</div>
<div class="content4TeamNservice">
	<br>
	<br>
	<h3>Our business has been around for over 10 years. We are here to deliver the best quality of work at a good cost. Construction is our passion to serve residential and commercial areas. </h3>
	<br>
	<br>
	<marquee behavior="slide" direction="left" class="service.img" scrollamount="100" onmouseover="this.stop()" onmouseout="this.start()">
		<a  ><img src="image/thumbnailswim4.png" width="300" height="169" alt="scroll"/></a>
		<a ><img src="image/thumbnailswimpool1.jpg" width="300" height="169" alt="scroll"/></a>
		<a  ><img src="image/thumgNailswimpool2.png" width="300" height="169" alt="scroll"/></a>
		<a  ><img src="image/thumbnailswim3.png" width="300" height="169" alt="scroll"/></a>
	</marquee>
	<br>
	<br>

	<marquee behavior="slide" direction="left" class="service.img" scrollamount="100" onmouseover="this.stop()" onmouseout="this.start()">
		<a  ><img src="image/thumbnailRicardo_Cathedral.jpg" width="300" height="169" alt="scroll"/></a>
		<a  ><img src="image/thumbnailRicardo_Luis.jpg" width="300" height="169" alt="scroll"/></a>
		<a  ><img src="image/thumbnailRicardo_TrainTracks.jpg" width="300" height="169" alt="scroll"/></a>
		<a  ><img src="image/Luis_Tunner.jpg" width="300" height="169" alt="scroll"/></a>
	</marquee>
</div>
<div class="footer">
	<p align="center">© Copyright All Right Reserved By Rios Constructora Maciel </p>
</div>
</body>
</html>
