<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Services</title>

	
<link rel="stylesheet" href="css/constructora.css">

<body>
<div class="container">
<div class="header"><img class="logo" src="image/LOGO.png" alt="" width="150" height="" />
	<nav class="navigation">
		  <ul class="navigation">
		  <li><a href="index.html" class="link"><span>HOME</span></a></li>
          <li><a href="our_team.html" class="link"><span>OUR TEAM</span></a></li>
          <li><a href="services.html" class="link"><span>SERVICES</span></a></li>
	      <li><a href="contact.html" class="link"><span>CONTACT US</span></a></li>
	  </ul> 
	</nav>
	<div class="fb"><img src="image/Facebook.png" width="30" height="30"> </div>
	</div>
	

  <div class="serviceB">
    <h1 class="h1">Services</h1>
  </div>
</div>
	<div class="content4TeamNservice">
	<h2>OUR SERVICES</h2>

	<marquee behavior="slide" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
	<a href="image/swim4.png" target="new"><img src="image/thumbnailswim4.png" width="300" height="169" alt="scroll"/></a>
    <a href="image/swimpool1.jpg" target="new"><img src="image/thumbnailswimpool1.jpg" width="300" height="169" alt="scroll"/></a>
	<a href="image/swimpool2.png" target="new"><img src="image/thumgNailswimpool2.png" width="300" height="169" alt="scroll"/></a>
    <a href="image/swim3.png" target="new"><img src="image/thumbnailswim3.png" width="300" height="169" alt="scroll"/></a>
    </marquee>
	</div>
 <div class="footer">
	<p align="center">© Copyright All Right Reserved By Rio Constructora Maciel </p>
		  </div>
 

</div>
	</div>
	</div>

	 </body>
</html>
